# Virtual Environment

## Local
.venv/* 

## Gaonnuri GPU
.venv2/* 

# vscode
.vscode/*

# data
data/*
!data/temp.txt

# pycache
**/__pycache__/**

# saved weight
saved/*
!saved/temp.txt

# saved loss
!saved/loss/temp.txt
